#root {
    max-width: 1831px;
    margin: 9px auto;
    padding: 2rem;
    text-align: center;
}
.section{
    width: 100%;
    margin-top: 65px;
}
.section__container {
    margin: 0 auto;
}
.suggest__card__list {
    padding: 0;
    height: 367px;
    display: flex;
    gap: 35px;
    list-style-type: none;
    justify-content: flex-start;

}
.suggest-card-list__element {
    width: 360px;
}
.suggest-card-list__element--name {
    margin-top: 18px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: #001A34;
}
.suggest-card-list__cart {
    display: flex;
    border-color: #D6DADE;
    border-style: solid; 
    border-width: 1px; 
    justify-content: space-between;
    height: 44px;
    margin-left: 0px;
    margin-top: 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.suggest__title {
    text-align: left;
    font-weight: 900;
    font-size: 40px;
}
.suggest__card {
    margin-top: 38px;
}
.suggest__card__list {
    padding: 0;
    width: 1800px;
    height: 367px;
    display: flex;
    gap: 35px;
    list-style-type: none;
    justify-content: space-around;

}
.cart_button {
    width: 132px;
    border-left: 1px solid #D6DADE; 
    display: flex;
    justify-content: space-around;
}
.cart__cost {
    margin-left: 15px; 
    margin-top: 10px; 
    padding: 0;
    color: #F15E22;
    font-size: 16;
    font-weight: 700;
}
.cart__cost__old {
    margin-left: 15px; 
    margin-top: 13px; 
    padding: 0;
}
.cart_button__cost--link {
    display: inline-block; 
    margin-top: 9px;
    color: #F15E22;
    font-size: 15;
    font-weight: 700;
    text-decoration: none;
}
.cart_button__cost--img {
    margin-top: 15px;
    margin-right: 5px;
}