.bottom__navigation {
    width: 100%;
  }
  .bottom-nav__list {
    display: flex; 
    justify-content: space-between;
  
    padding: 0; 
    margin-left: 170px;
  
    list-style: none;
  }
  
  .bottom-nav-list__element {
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center; 
  }
  .bottom-nav-list__element-link {
    color: rgb(90, 108, 125, 1);
    font-family: 'RoadRadio', sans-serif;
    padding-top: 5px;
    font-weight: 900px;
    font-size: 16px;
  
    width: 100%;
    height: 100%;
  
    
    text-decoration: none; 
  }
  .bottom-nav-list__element--img {
    padding-right: 10px;
  }
  .bottom__application {
    width: 151px;
    height: 46px;
  
  
    color: rgb(255, 255, 255, 1);
    background-color: rgb(241, 94, 34, 1);
    border-width: 0px;
    border-radius: 4px;
  
    margin-left: 20px;
  }
  .application__title {
    display: flex; 
    font-size: 16px;
    font-weight: 900;
  }
  .header__bottom  {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 63px;
    width: 100%;
  }
  .bottom-nav {
    font-size: 16px;
    
  }