#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  width: 100%;
}
.header__container {
  width: 1860px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header__top {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 80px;
  width: 100%;
  border-bottom: #0000001a;
  border: 1px;
}