#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  width: 100%;
}
.header__container {
  width: 1860px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header__top {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 80px;
  width: 100%;
  border-bottom: #0000001a;
  border: 1px;
}

.top__city {
  display: flex;
  margin-left: 23px;

  width: 190px;

}
.city__location-name {
  margin-left: 12px;

  color: rgb(0, 26, 52, 1);
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  font-weight: 700;

  text-decoration: underline;
  cursor: pointer;
}
.city__location-img {
  margin-left: 5px;
}

.city__location-description {
  margin: 0;
  width: 90px;

  font-family: 'Montserrat', sans-serif;
}
.top__navigation {
  margin-left: 60px;
}
.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;

  width: 1030px;
  font-size: 18px;
}
.nav-list__element {
  margin-left:  40px;
  font-family: 'Montserrat', sans-serif;
}
.nav-list__element_first {
  margin-left: 5px  !important;
  font-family: 'Montserrat', sans-serif;
}
.top__connection {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 110px;
}
.connection__number-img {
  margin-right: 5px;
}
.connection__number {
  width: 250px;

  font-family: 'RoadRadio', sans-serif;

  font-size: 18px;
}
.connection__application {
  height: 50px;
  width: 205px;

  cursor: pointer;
  margin-right: 75px;
}
.connection__number-name {
   text-decoration: none;
}
.header__line {
  margin-top: 0px;
  width: 100%;
}
.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  flex-grow: 1;
  height: 90px;
  width: 100%; 
}
.middle__logo {
  display: flex;
  align-items: center;

  margin-left: 10px;
}
.middle__logo-name {
  width: 250px;

  margin-left: 15px;

  color: rgb(0, 26, 52, 1);
  line-height: 22px;
  font-weight: 500;
  color: rgb(90, 108, 125, 1);
}
.middle__input {
  margin-left: 40px;
  width: 562px;
  height: 47px;

  color: #5A6C7D;
  font-size: 15px;
  background-color: #EFF3F6;
  border: 0px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 4%;
  outline: none;
}
.middle__access {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  display: flex;
  margin-right: 20px;
  
}
.access__login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 130px;
}
.access__favourite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 130px;
}
.access__login-name {
  text-decoration: none;
}
.access__favourite-name {
  text-decoration: none;
}
.middle__recycle-bin {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.recycle-bin__description {
  margin-left: 25px;
}

.bottom__navigation {
  width: 100%;
}
.bottom-nav__list {
  display: flex; 
  justify-content: space-between;

  padding: 0; 
  margin-left: 170px;

  list-style: none;
}

.bottom-nav-list__element {
  display: flex;
  text-align: center; 
  justify-content: center;
  align-items: center; 
}
.bottom-nav-list__element-link {
  color: rgb(90, 108, 125, 1);
  font-family: 'RoadRadio', sans-serif;
  padding-top: 5px;
  font-weight: 900px;
  font-size: 16px;

  width: 100%;
  height: 100%;

  
  text-decoration: none; 
}
.bottom-nav-list__element--img {
  padding-right: 10px;
}
.access__login-img{
  justify-content: center;
  padding-top: 5px;
}
.access__login-name {
  color: rgb(0, 26, 52, 1);
  font-size: 15px;
}
.access__favourite-name {
  color: rgb(0, 26, 52, 1);
  font-size: 15px;
}
.city__location-description {
  color: rgb(90, 108, 125, 1);
  font-size: 15px;
}
.connection__number-name {
  color: rgb(0, 26, 52, 1);
  font-weight: 900;
}
.connection__application {
  color: rgb(255, 255, 255, 1);
  background-color: rgb(241, 94, 34, 1);
  border-width: 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 900;
}
.bottom__application {
  width: 151px;
  height: 46px;


  color: rgb(255, 255, 255, 1);
  background-color: rgb(241, 94, 34, 1);
  border-width: 0px;
  border-radius: 4px;

  margin-left: 20px;
}

.application__title {
  display: flex; 
  font-size: 16px;
  font-weight: 900;
}
.application__title::before {
  content: "";

  display: inline-block;
  width: 16px;
  height: 18px;
  margin-left: 10px; 
  margin-right: 10px;
  background-image: url("../../image/catalog.svg");
  background-repeat: no-repeat;
}
.nav {
  font-size: 15px;
}
.nav-list__element-link {
  color: rgb(0, 26, 52, 1);
  width: 100%;
  height: 100%;

  
  text-decoration: none; 
}
.nav-list__element-link:hover {
  color: rgb(241, 94, 34, 1);
}
.description-name {
  font-size: 14px;
  color: rgb(90, 108, 125, 1);
}
.description-cost {
  font-size: 26px;
  color: rgb(0, 26, 52, 1);
}
.header__bottom  {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 63px;
  width: 100%;
}
.bottom-nav {
  font-size: 16px;
  
}